/* Global styles */

/* To build a dark mode of United with Superhero colors

echo '(?:^\s*(?:\.|@).*$|^\s*.*(?:color|border|background|fill|stroke|outline|shadow).*(?:#[0-9a-fA-F]{3,8}|rgba?\(|hsla?\(|white|black|gray|grey|red|green|blue|yellow|orange|purple|pink|brown|teal|cyan|magenta|violet|indigo|maroon|olive|navy|silver|gold|beige|ivory|khaki|lavender|lime|mint|plum|tan|aqua|coral|crimson|fuchsia|turquoise).*$|^\s*\}$)' > color_pattern.txt
grep -E -f color_pattern.txt src/styles/bootstrap.united.css > src/styles/bootstrap.cutdown_united.css
grep -E -f color_pattern.txt src/styles/bootstrap.original_superhero.css > src/styles/bootstrap.cutdown_superhero.css
*/

/* Widescreen */

/* Ensure padding between 1400px and 1600px */
@media (min-width: 1400px) and (max-width: 1600px) {
   .container.wide_screen,
   .container-lg.wide_screen,
   .container-xl.wide_screen {
   max-width: calc(100% - 40px); /* 20px padding each side */
   }
}
/* Ensure padding between 1400px and 1600px */
@media (min-width: 1400px) and (max-width: 1600px) {
   .container.medium_screen,
   .container-lg.medium_screen,
   .container-xl.medium_screen {
   max-width: 1200px; /* 100px padding each side */
   }
}

/* Increase container width on larger screens (above 1600px) */
@media (min-width: 1601px) {
   .container.wide_screen,
   .container-lg.wide_screen,
   .container-xl.wide_screen {
   max-width: 1600px; /* Target width for xxl-like screens */
   }
}
/* Increase container width on larger screens (above 1600px) */
@media (min-width: 1601px) {
   .container.medium_screen,
   .container-lg.medium_screen,
   .container-xl.medium_screen {
   max-width: 1400px; /* Target width for xxl-like screens */
   }
}

@media (min-width: 1800px) {
   .container.wide_screen,
   .container-lg.wide_screen,
   .container-xl.wide_screen {
   max-width: 1750px; /* Even wider for very large screens */
   }
}

@media (min-width: 1800px) {
   .container.medium_screen,
   .container-lg.medium_screen,
   .container-xl.medium_screen {
   max-width: 1550px; /* Even wider for very large screens */
   }
}


/* Ensure fluid containers always take full width if needed */
.container-fluid {
   width: 100%;
   padding-right: 15px; /* Adjust default padding as needed */
   padding-left: 15px;  /* Adjust default padding as needed */
   margin-right: auto;
   margin-left: auto;
} 

/* Carousel */

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
    bottom: 100%;
}

/* Nested Modals */

.modal_lower {
   z-index: 1500;
}

.modal_upper {
   z-index: 2500;
}

.modal_backdrop_upper {
   z-index: 2000;
}

/* Handle dark mode for sticky overlays */

.internal-sticky-overlay {
   background-color: #ffffff;
}
[data-theme='dark'] .internal-sticky-overlay {
   background-color: #272b30;
}

/* Handle dark mode for recharts bar graphs */

[data-theme='dark'] .recharts-tooltip-cursor {
   fill: #888;
}

/* Some CSS for multi-line titles */

.multi_line_title_content {
  display: flex;
  flex-direction: column; /* stack top/bottom */
  height: 100%;           /* fill the cell’s total height */
}

.multi_line_title_row {
   display: flex;
   flex: 1;  
   justify-content: space-between;
   align-items: center;
}

.multi_line_title_row_left_aligned_snippet {
   text-align: left;
}