[data-theme='dark'] 
a.bigwin {
  color: lightgreen; 
  background-color: transparent; 
  text-decoration: none;
}

[data-theme='dark'] 
a.bigwin:hover {
  color: lightgreen;
  background-color: transparent;
  text-decoration: underline;
}

[data-theme='dark'] 
a.bigwin:active {
  color: lightgreen;
  background-color: transparent;
  text-decoration: underline;
}

a.bigwin {
  color: green; 
  background-color: transparent; 
  text-decoration: none;
}

a.bigwin:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

a.bigwin:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

[data-theme='dark'] 
a.win {
   color: lightgrey; 
   background-color: transparent; 
   text-decoration: none;
 }

[data-theme='dark'] 
  a.win:hover {
   color: lightgrey;
   background-color: transparent;
   text-decoration: underline;
 }
 
[data-theme='dark'] 
 a.win:active {
   color: lightgrey;
   background-color: transparent;
   text-decoration: underline;
 }

a.win {
   color: black; 
   background-color: transparent; 
   text-decoration: none;
 }
 
 a.win:hover {
   color: black;
   background-color: transparent;
   text-decoration: underline;
 }
 
 a.win:active {
   color: black;
   background-color: transparent;
   text-decoration: underline;
 }

[data-theme='dark'] 
 a.loss {
   color: orange; 
   background-color: transparent; 
   text-decoration: none;
 }
 
[data-theme='dark'] 
 a.loss:hover {
   color: orange;
   background-color: transparent;
   text-decoration: underline;
 }
 
[data-theme='dark'] 
 a.loss:active {
   color: orange;
   background-color: transparent;
   text-decoration: underline;
 }
 
  a.loss {
   color: darkorange; 
   background-color: transparent; 
   text-decoration: none;
 }
 
 a.loss:hover {
   color: darkorange;
   background-color: transparent;
   text-decoration: underline;
 }
 
 a.loss:active {
   color: darkorange;
   background-color: transparent;
   text-decoration: underline;
 }
 
[data-theme='dark'] 
 a.bigloss {
   color: #FE5B3B; 
   background-color: transparent; 
   text-decoration: none;
 }
 
[data-theme='dark'] 
 a.bigloss:hover {
   color: #FE5B3B;
   background-color: transparent;
   text-decoration: underline;
 }
 
[data-theme='dark'] 
 a.bigloss:active {
   color: #FE5B3B;
   background-color: transparent;
   text-decoration: underline;
 }

  a.bigloss {
   color: red; 
   background-color: transparent; 
   text-decoration: none;
 }
 
 a.bigloss:hover {
   color: red;
   background-color: transparent;
   text-decoration: underline;
 }
 
 a.bigloss:active {
   color: red;
   background-color: transparent;
   text-decoration: underline;
 }
 